.product-single {
  display: flex;
}

.product-single .product-single-image {
  width: calc(100% / 2);
  height: 480px;
}

.product-single .product-single-image img {
  max-width: 100%;
  max-height: 100%;
}
