.main-navigation {
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}

.main-navigation .logo {
  align-self: center;
  padding: 20px 75px 20px 50px;
  background-color: #343a40;
  border-bottom-right-radius: 35px;
  box-shadow: 0 0 5px 1px rgba(83, 82, 82, 0.49);
}
.main-navigation .search {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-grow: 2;
  background-color: #343a40;
  padding-top: 7px;
}

.main-navigation .search .search-item {
  width: 100%;
  height: 100%;
  background: #fefaf9;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  align-items: center;
  box-shadow: inset 0 7px 7px -7px rgba(0, 0, 0, 0.49);
}
.main-navigation .search .search-item input {
  margin-top: 5px;
  margin-left: auto;
  margin-right: 50px;
  padding: 5px;
  border: none;
  outline: none;
  background-color: #fefaf9;
  border-bottom: 1px solid #343a40;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
}

.main-navigation a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 300;
  color: #fff;
}

.main-navigation ul {
  display: flex;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 100px;
  background-color: #343a40;
  border-bottom-left-radius: 35px;
  box-shadow: 0 0 5px 1px rgba(83, 82, 82, 0.49);
}

.main-navigation ul .navigation-item {
  display: flex;
}

.main-navigation ul .navigation-item .navigation-link {
  padding: 20px 20px;
}
