.cart-list-helper {
  flex-direction: column;
}

.cart-button {
  margin: 40px auto;
  text-decoration: none;
}

.cart-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.cart-list-empty {
  text-align: center;
  font-size: 32px;
  padding-top: 10%;
  color: #343a40;
}

// cart checkout page
.cart-checkout {
  max-width: 640px;
  margin: 0 auto;
  flex-direction: column;
}
