body {
  background-color: #fafafa;
  font-family: "Roboto", sans-serif;
}
.container {
  width: 80%;
  margin: 0 auto;
}

.container-style {
  display: flex;
  padding: 5%;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 15px;
  box-shadow: 0px -3px 3px 0 rgba(169, 169, 169, 0.11);
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #fff;
  padding-bottom: 10%;
  font-family: "Roboto", sans-serif;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,fafafa+100 */
  background: rgb(255, 255, 255); /* Old browsers */
  background: -moz-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 0%,
    rgba(250, 250, 250, 1) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 0%,
    rgba(250, 250, 250, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 0%,
    rgba(250, 250, 250, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fafafa',GradientType=0 ); /* IE6-9 */
}

.default-button {
  border: 3px solid #343a40;
  border-radius: 35px;
  background-color: #343a40;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 300;
  padding: 10px 60px;
  box-shadow: 0 0 7px 0 rgba(90, 90, 90, 1);
  cursor: pointer;
  outline: none;
  transition: box-shadow 1s ease, border 1s ease;
  &:not([disabled]):hover {
    border: 3px solid #fff;
    box-shadow: 0 0 0 3px #343a40;
  }
  &:disabled {
    opacity: 0.7;
  }
}

.sing-in-page {
  &__additional {
    max-width: 640px;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    text-align: center;
    line-height: 24px;
    font-weight: 300;
    p {
      color: #535c65;
    }
    a {
      color: #343a40;
    }
  }
}

@keyframes blinking {
  50% {
    opacity: 0.3;
  }
}

.add-button {
  position: absolute;
  z-index: 2;
  right: 10%;
  bottom: 10%;
  width: 30px;
  height: 30px;
  background: #343a40;
  padding: 15px;
  border-radius: 50%;
  box-shadow: 0 0 7px 0 rgba(90, 90, 90, 0.33);
  cursor: pointer;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.page-not-found {
  margin: 10% auto;
  h1 {
    padding: 30px 0;
    text-align: center;
    font-size: 32px;
    font-weight: 300;
    color: #343a40;
  }
  &__image {
    margin: 0 auto;
    width: 200px;
    img {
      max-width: 100%;
    }
  }
}

// .loading-bar {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
// }
