/*
  view: Faq
*/
.faq {
  flex-direction: column;
  &__inner {
    padding-bottom: 3%;
    &__title {
      margin-bottom: 20px;
      padding-bottom: 10px;
      font-size: 32px;
      line-height: 38px;
      font-weight: 300;
      border-bottom: 2px solid #5d737e;
      color: #343a40;
    }
    p {
      font-size: 20px;
      line-height: 26px;
      font-weight: 100;
      padding-left: 1%;
    }
  }
}
