.product-single {
  &__image {
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    width: calc(100% / 2);
    height: 480px;
    padding-bottom: 5%;
    position: relative;
    img {
      position: relative;
      max-width: 100%;
      max-height: 100%;
    }
    &--loading {
      background-color: #d2d2d2;
      animation: blinking 2s linear infinite;
    }
    @media screen and (max-width: 768px) {
      width: 100%;
      height: 240px;
      padding: 5%;
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    width: calc(100% / 2);
    padding-left: 60px;
    box-sizing: border-box;
    padding-bottom: 5%;
    &__title {
      font-size: 48px;
      font-weight: 100;
      color: #212529;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      padding-bottom: 20px;
    }
    &__description {
      margin: 20px 0;
      font-size: 18px;
      line-height: 24px;
      font-weight: 300;
    }
    &__add-price {
      display: flex;
      margin-top: auto;
      p {
        margin-right: auto;
        align-self: center;
        font-size: 42px;
        font-weight: 500;
        color: #212529;
      }
      button {
        margin-left: auto;
      }
    }
    @media screen and (max-width: 768px) {
      width: 100%;
      padding: 0;
      &__title {
        font-size: 26px;
        padding-bottom: 10px;
        text-align: center;
      }
      &__description {
        font-size: 16px;
        padding: 0 20px;
      }
      &__add-price {
        flex-direction: column;
        text-align: center;
        p {
          width: 100%;
          margin-bottom: 20px;
          font-size: 26px;
        }
        button {
          margin: 0 auto;
          margin-top: 10px;
        }
      }
    }
  }
  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}
